.signupContainer{
    width:100%; max-width:1500px; display:flex; margin:0 auto; height:100vh; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items:stretch;
}

@media(max-width:767px){
    .signupContainer{
        flex-direction:column-reverse;
    }
}

.signupMessage{
    flex:1; height:100%; display:flex; flex-direction: column; justify-content: center; align-items: center; background-color:#00684a;
}

@media(max-width:922px){
    .signupMessage{
        display:none;
    }
}

.signupMessage h1{
    color:#ffffff; font-size:4rem; text-align: center; width:400px;
}

@media(max-width:1300px){
    .signupMessage h1{
        font-size:3.2rem; 
    }
}
@media(max-width:1100px){
    .signupMessage h1{
        font-size:2.5rem; width:300px;
    }
}
.signupForm{
    flex:1; height:100%; display:flex; flex-direction: column; justify-content: center; align-items: center;
}

.signupForm form{
     border-radius:10px; padding:20px; width:100%; max-width:300px;   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputBox{
    display:flex; flex-direction: column; gap:5px; width:100%; margin:10px 0;
}
.inputBox label{
    font-size:0.9rem; font-weight:lighter; color: #4f4e4e;
}

.inputBox input{
    padding:10px; font-size:0.9rem; border:1px solid #9df0db; border-radius:5px;
}

.inputBox input:focus{
    outline:1.5px solid #35cca7; 
}

form h2{
    color:#35cca7; font-size:1.2rem; text-align: center; margin:10px 0;
}

.inputBox button{
    padding:10px; font-size:1rem; background-color: #35cca7; color:#ffffff; border:none; border-radius:5px; cursor:pointer;
}


.icons{
    font-size:27px; margin-left:5px; color:#35cca7; cursor: pointer;
}

.passwordContainer{
    display:flex; flex-direction: row; justify-content:flex-start; align-items: center;
}
