.homepageHeader {
  width: 100%;
  background-color: #35cca7;
}

.desktopnav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.desktopnav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktopnav ul li {
  list-style: none;
  padding: 5px;
}

.desktopnav ul li h1 {
  font-size: 1.5rem;
  color: #ffffff;
}

@media (max-width: 300px) {
  .desktopnav ul li h1 {
    font-size: 1rem;
    color: #ffffff;
  }
}

.desktopnav ul li h1 span {
  color: rgb(3, 83, 3);
}

.desktopnav ul li button {
  background-color: #ffffff;
  color: #35cca7;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.dashboardLink {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 900px) {
  .dashboardLink {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .dashboardLink {
    font-size: 0.8rem;
  }
}

.historyLink {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 900px) {
  .historyLink {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .historyLink {
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  .desktopnav ul li h1 {
    font-size: 1.1rem;
  }

  .desktopnav ul li button {
    font-size: 0.8rem;
    padding: 5px;
  }
}

/*main*/
main {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.notice {
  text-align: center;
  color: #28a586;
  padding: 5px;
  text-decoration: underline;
  text-wrap: wrap;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .notice {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .notice {
    font-size: 0.8rem;
  }
}
.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.card {
  width: 100%;
  max-width: 350px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 300px;
  box-sizing: border-box;
  gap: 10px;
}

.card h2 {
  font-size: 1.5rem;
}

.card h1 {
  padding: 20px;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .card h1 {
    font-size: 1.5rem;
  }

  .card h2 {
    font-size: 1.2rem;
  }
}

.borrowBtn {
  background-color: #28a586;
  color: #ffffff;
  font-size: 1.2rem;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .borrowBtn {
    font-size: 1rem;
  }
}

.repayBtn {
  background-color: red;
  color: #ffffff;
  font-size: 1.2rem;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .repayBtn {
    font-size: 1rem;
  }
}
/*verification error*/
.verificationError {
  font-size: 1.1rem;
  position: fixed;
  color: red;
  top: 150px;
  right: 50px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none; /* animation */
  animation: showAndHide 6s ease-in-out forwards;
  z-index: 999;
}

/* animation keyframes */
@keyframes showAndHide {
  0% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  50% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
  }
}

@media (max-width: 900px) {
  .verificationError {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .verificationError {
    font-size: 0.8rem;
    top: 100px;
  }
}

.welcome {
  font-size: 2rem;
  color: #000000;
  padding: 20px 30px;
  font-weight: bold;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .welcome {
    font-size: 1.8rem;
    padding: 15px 25px;
  }
}

@media (max-width: 900px) {
  .welcome {
    font-size: 1.5rem;
    padding: 10px 20px;
  }
}

@media (max-width: 600px) {
  .welcome {
    font-size: 1rem;
    padding: 5px 10px;
  }
}

.icon {
  font-size: 30px;
  color: #ffffff;
}

.icon:hover {
  color: #095542;
}

@media (max-width: 900px) {
  .icon {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .icon {
    font-size: 20px;
  }
}

/*user account*/
.notifyUser {
  font-size: 20px;
  margin: 30px;
  text-align: center;
  color: #4f4e4e;
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 500px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  margin: 30px auto;
  padding: 30px;
  box-sizing: border-box;
}

.userDetails h1 {
  font-size: 20px;
}

.userDetails h1 span {
  font-size: 18px;
}

.accountHeader {
  font-size: 25px;
  text-align: center;
  margin: 30px;
  color: #4f4e4e;
}

.details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.details strong {
  font-size: 1rem;
}

@media (max-width: 750px) {
  .details strong {
    font-size: 0.8rem;
  }

  .details p {
    font-size: 0.8rem;
  }

  .accountHeader {
    font-size: 1rem;
  }
}

/*UserForm*/
.bankDetailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bankDetailsContainer h1 {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .bankDetailsContainer h1 {
    font-size: 1.2rem;
  }
}

.bankDetailsContainer form {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

.inputBox label {
  color: #4f4e4e;
  font-size: 0.9rem;
}

.inputBox input {
  font-size: 15px;
  padding: 8px;
}

.inputBox button {
  padding: 10px;
  background-color: #35cca7;
  border: none;
  border-radius: 10px;
}

/*Account information*/
.lineBreak {
  width: 80%;
  max-width: 550px;
  background-color: #35cca7;
  height: 0.9px;
  border: none;
  margin: 20px auto;
}

/*USER DASHBOARD*/
.userdashboardHeader {
  text-align: center;
  font-size: 1.8rem;
  margin: 30px;
}

@media (max-width: 600px) {
  .userdashboardHeader {
    font-size: 1.2rem;
  }
}

.walletBalance {
  width: 70%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 50px auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
}

.walletBalance h1 {
  font-size: 5rem;
}

@media (max-width: 900px) {
  .walletBalance h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .walletBalance h1 {
    font-size: 2.5rem;
  }
}

.walletBalance h2 {
  font-size: 2rem;
  color: #4f4e4e;
}

/*Transaction*/
.transactions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0;
}

.transactions h1 {
  font-size: 1.5rem;
  color: #000000;
  margin: 10px 0;
  line-height: 1.6;
}

@media (max-width: 900px) {
  .transactions h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .transactions h1 {
    font-size: 1rem;
  }
}

.transaction {
  width: 100%;
  border-radius: 10px;
  min-height: 350px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  padding: 10px;
  max-width: 350px;
  box-sizing: border-box;
}

.transaction p {
  font-size: 1rem;
  color: #4f4e4e;
  margin: 10px 0;
  line-height: 1.6;
}

.transaction p span {
  font-size: 1rem;
  color: #4f4e4e;
  margin: 10px 0;
  line-height: 1.6;
  font-weight: bold;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .transaction p,
  .transaction p span {
    font-size: 0.8rem;
  }
}

/*mobileNav*/
.hideMobileNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  display: none;
  flex-direction: column;
  z-index: 999;
  background-color: #35cca7;
  opacity: 0.8;
  justify-content: flex-start;
  padding: 50px;
}

.showMobileNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: #196653;
  opacity: 0.9;
  justify-content: flex-start;
  padding: 50px;
  gap: 15px;
}
.showMobileNav ul {
  display: flex;
  flex-direction: column;
}

/*hambourger*/
.hide {
  font-size: 30px;
  display: none;
}

@media (max-width: 768px) {
  .hide {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  .desktopnav .historyLink,
  .desktopnav .dashboardLink,
  .desktopnav .icon,
  .desktopnav ul li button {
    display: none;
  }
}

.showMobileNav .historyLink,
.showMobileNav .dashboardLink {
  font-size: 1rem;
}

.showMobileNav .icon {
  font-size: 1.5rem;
}

.showMobileNav ul li button {
  font-size: 0.8rem;
  background-color: #ffffff;
  color: #176e58;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.closeIcon {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

.repayLink {
  text-decoration: none;
  color: #ffffff;
}

/*repay page*/
.repayContainer {
  width: 100%;
  height: 100vh;
}

.repayContainer h1 {
  font-size: 1.2rem;
  text-align: center;
  margin: 20px;
}

.repayform {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  gap: 20px;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.repayform .inputDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inputDiv label {
  font-size: 1rem;
  color: #363434;
}

.repayform button {
  background-color: #35cca7;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.error {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  animation: errorFade 2s ease forwards;
}


