.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above content */
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.navlinks {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  padding: 15px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinks:hover {
  text-decoration: underline;
}

/*app logo */
.appLogo {
  margin-right: auto !important;
  padding: 0 10px;
}
.appLogo h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .appLogo h2 {
    font-size: 1.2rem;
  }
}

.appLogo h2 span {
  color: #0e604b;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.hamburger div {
  width: 25px;
  height: 4px;
  background-color: #060606;
  margin: 3px 0;
}

.mobileMenu {
  display: flex;
  flex-direction: column !important;
  background-color: #242323;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  width: 100%;
  opacity: 0.9;
}

.hidemobileMenu {
  display: none;
}

.mobileLinks {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 0;
  display: flex;
}

.mobileLinks:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .mobileLinks {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navlinks {
    display: none;
  }
}

@media (max-width: 1200px) {
  header nav ul {
    gap: 18px;
    padding-right: 18px;
  }
  .navlinks {
    padding: 14px 13px;
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  header nav ul {
    gap: 15px;
    padding-right: 15px;
  }
  .navlinks {
    padding: 12px 10px;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  header nav ul {
    gap: 10px;
    padding-right: 10px;
  }
  .navlinks {
    padding: 10px 8px;
    font-size: 0.8rem;
  }
}
